@import "tailwindcss";
/* IDE will yell at you despite this being necessary for dark mode toggle to work */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard.otf") format("opentype");
  font-weight: 200;
}

body {
  font-family: "Pretendard", comic-sans;
}

/*
* {
  outline: 1px solid red;
}
*/
