@import "tailwindcss";
/* IDE will yell at you despite this being necessary for dark mode toggle to work */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard.otf") format("opentype");
  font-weight: 200;
}

/* CHROME, IE SCROLLBAR LOOKS UGLY SO I KILLED THEM!!!! */
::-webkit-scrollbar {
  width: 0rem;
}

body {
  font-family: "Pretendard", comic-sans;
}

.hamburger-open .line:nth-child(1) {
  transform: rotate(45deg) translate(10px, 4px);
}
.hamburger-open .line:nth-child(2) {
  opacity: 0;
}
.hamburger-open .line:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -5px);
}

#interact-logo:active {
  animation: pulse 0.25s;
}

/*
* {
  outline: 1px solid red;
}
*/
